.row-team{
    width: auto;
    text-align: center;
    background-color: #F3F3F3;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 3rem;
}

/*Área de info equipo*/
.team-one img{
    width: 50%;
    border-radius: 100%;
    filter: grayscale(100%);
}

.team-one img:hover{
    filter: none;
}

.team-two img{
    width: 50%;
    border-radius: 100%;
    filter: grayscale(100%);
}

.team-two img:hover{
    filter: none;
}

.team-three img{
    width: 50%;
    border-radius: 100%;
    filter: grayscale(100%);
}

.team-three img:hover{
    filter: none;
}

.team-four img{
    width: 50%;
    border-radius: 100%;
    filter: grayscale(100%);
}

.team-four img:hover{
    filter: none;
}

.team-five img{
    width: 50%;
    border-radius: 100%;
    filter: grayscale(100%);
}

.team-five img:hover{
    filter: none;
}

.name{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    color: #001154;
    margin-top: 1rem;
}

.info{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    color: #ff3000;
    text-align: center;
}

.occupation{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: #001154;
    text-align: center;

}

.contact-team{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
}
